h1 {
	color: red;
}

.header {
	background-color: cadetblue;
	display: flex;
	justify-content: space-between;
}

.grid {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

#pongameImage {
	width: 300px;
	height: 300px;
} 

.footer {
	display: flex;
	justify-content: flex-end;
}